{% load static %}
<html>
    <head>
        <title>{% block title %}Django Blog Post  {% endblock title %}</title>
        <meta name="google-signin-client_id" content="112188351092-oqkrmq4hvdb65fn0174j2tk32ks973f1.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            .data{
            display:none;
            }
        </style>
    </head>

    <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

    </ul>
       <div class="navbar-nav mr-auto">
        </div>


        <!--S Navbar Right Side -->

            <div class=" float-right row">
                <div>
                    <p id="name" ><h5 class="text-light">Anonymous</h5></p>
                </div>
                <div>
                    <img id="pic" class="mx-2 rounded-circle border border-secondary" width="50" height="50" src="{% static 'default.jpg' %}">
                </div>
            </div>

  </div>
</nav>

     <div class="container">


            {% include "posts/messages_display.html"%}
            {% block content %}

            {% endblock content %}
     </div>
      <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          $(".g-signin2").css("display","none");
          $(".data").css("display","block");
          $("#name").text(profile.getName());
          $("#pic").attr('src',profile.getImageUrl());
          $("#email").text(profile.getEmail());
          }

         function signOut() {

             var auth2 = gapi.auth2.getAuthInstance();
             auth2.signOut().then(function(){
             document.location.reload();
                });
               }
             function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    </script>
</html>