{% extends "posts/base.html" %}
{% block title %} {{title}} | {{ block.super }}{% endblock title %}
{% block content %}
        <div class="col-sm-6 offset-sm-3 border border-default mt-3">
            <form method="POST" action ="" enctype="multipart/form-data">
                    <fieldset class="mt-3 ">
                        <legend class="border-bottom mb-4 " >Blog Post</legend>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type='submit' value="{{button}}">
                    </fieldset> 
            </form> 
           </div> 
{% endblock content %}
