{% extends "posts/base.html"  %}
{% block title %} {{title}} | {{ block.super }}{% endblock title %}
{% block content %}
    <div class="col-sm-6 offset-sm-3">
        <fieldset>
            <legend class="border-bottom"><h1 class="mt-3">{{object.title}}</h1></legend><small> {{object.timestamp}}</small><br>

            <img src="{{ object.image.url }}" class="img-fluid">

            <div class="border border-default p-3 mt-2" >{{object.content|linebreaks}}</div>
        </fieldset>
    </div>
{% endblock content %}