{% extends "posts/base.html" %}
{% block title %} {{title}} | {{ block.super }}{% endblock title %}
{% block content %}   
<div class=" offset-sm-1 mt-3 pl-2 border border-default">
    <fieldset>
        <legend class="border-bottom mb-4"><h1>{{title}} is  working</h1></legend>
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-5 m-3 border border-default">
            <h1><a class="text-decoration-none" href="{{object.get_absolute_url}}">{{object.title}}</a></h1><hr class="mt-0 mb-1">
                  <small>{{object.timestamp|timesince}} ago</small>
              {{object.content|linebreaks|truncatechars:120}}<br>
              {{object.updated}}<br>
              {{object.id}}
        </div>
        {% endfor %}
    </div>
    </fieldset>
</div>

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}        
