{% extends "posts/base.html" %}
{% block content %}
<div class="col-sm-5 offset-sm-3 mt-3 pl-2 border border-default">
    <form>
        <fieldset>
            <legend class="border-bottom mb-4"><h1>{{title}}</h1></legend>
                {{form.as_p}}
            <button class="btn btn-secondary" value="{{title}}">{{title}}</button>
        </fieldset>
    </form>
</div>
        <div class="offset-sm-3 col-sm-5 mt-2">
            <div id="my-signin2"></div>
                <div class="data">

                     <div class="float-right">
                         <p id="name" ></p>
                         <img id="pic" class=" rounded-circle" width="100" height="100">
                     </div>
                     <p id="email" class="border border-danger"></p>
                     <button onclick="signOut()" class="btn btn-secondary">Sign Out</button>
                </div>
        </div>




{% endblock content %}
